html{
    background: linear-gradient(rgba(0, 0, 0, 0.084),rgba(0, 0, 0, 0.856)),url(/27.jpg);
    background-size: cover;

}
body{
    background:#111;
    color:white;
    height:1200px;
    width:600px;
    margin:0 auto;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
}
.imgbx{
    height:250px;
    width:100%;
    float:left;
}
.bx{
    height: 200px;
    width: 280px; 
    padding:15px;
}
.img1{
    float: left;
    margin-left: 15px;
    transition:1 ease;
}
h3{
    color:lightgray;
   text-align: center;
}
.img1:hover{
    transform: scale(1.1);
}
h1{
    color: gray;
}
h2{
    color: gray;
}
h3:hover{
background:gray ;
}